%footer
  .footer-logo
    %img{ src: "assets/img/logos/logo-color-la-laz-bourbon.png", alt: "La Kaz Bourbon" }
  .footer-menu
    %ul
      %li
        %a{ href: "villas.html" } Vacation villas
      %li
        %a{ href: "#" } Booking
      %li
        %a{ href: "extra-services.html" } Extra services
      %li
        %a{ href: "about.html" } About us
      %li
        %a{ href: "#" } Reviews
      %li
        %a{ href: "#" } News
      %li
        %a{ href: "#" } Contact us
      %li
        %a{ href: "terms-and-conditions.html" } Terms & conditions
  .footer-contact
    %ul
      %li La Réunion, France
      %li
        %a{ href: "mailto:contactus@lakazbourbon.com" } contactus@lakazbourbon.com
      %li
        %a{ href: "tel:33630115220" } +33 6 30115220
      %li 8:00 A.M. - 6:00 P.M. CET
    %ul.rrss
      %li
        %a{ href: "#" }
          %img{ src: "assets/img/icons/fb.svg" }
      %li
        %a{ href: "#" }
          %img{ src: "assets/img/icons/ig.svg" }
      %li
        %a{ href: "#" }
          %img{ src: "assets/img/icons/youtube.svg" }
  .copyright
    %span
      Copyright © 2020 La Kaz Bourbon
      %a{ href: "" } Made with ♥ by Branch 