!!!
:ruby
  def render(partial, args = {})
    engine = Haml::Engine.new(File.read(partial))
    engine.render(Object.new, args)
  end
%html{ lang: "en" }
  %head
    %title 404 Page not found | La Kaz Bourbon
    = render('app/partials/_head.haml')
  %body
    = render('app/partials/_navbar.haml')
    %section.not-found
      .not-found-message
        %h2 Oops!
      .not-found-code
        %h1 404
      .not-found-message
        %h3 The page was not found
    = render('app/partials/_footer.haml')
    = render('app/partials/_scripts.haml')
