!!!
:ruby
  def render(partial, args = {})
    engine = Haml::Engine.new(File.read(partial))
    engine.render(Object.new, args)
  end
%html{ lang: "en" }
  %head
    %title Terms & Conditions | La Kaz Bourbon
    = render('app/partials/_head.haml')
  %body
    = render('app/partials/_navbar.haml')
    .page-header{ style: "background-image: url('assets/img/backgrounds/page_header_terms.jpg');" }
      %h1 Terms & Conditions
    .page-content
      .page-content-section
        %p
          %strong Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac convallis metus, non molestie arcu. Donec luctus vestibulum ex in fringilla. Maecenas et aliquam neque. Etiam feugiat risus eu facilisis rutrum. Cras cursus augue urna, ac tempus elit venenatis eget. Fusce malesuada nibh libero, in ullamcorper augue bibendum ac. Fusce suscipit nisl ac nisl commodo, vitae ullamcorper dui blandit. Morbi et augue blandit, efficitur tortor in, finibus justo. Nulla libero velit, vulputate ut blandit interdum, varius vel turpis
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac convallis metus, non molestie arcu. Donec luctus vestibulum ex in fringilla. Maecenas et aliquam neque. Etiam feugiat risus eu facilisis rutrum. Cras cursus augue urna, ac tempus elit venenatis eget. Fusce malesuada nibh libero, in ullamcorper augue bibendum ac.
        %p Vivamus est metus, ullamcorper tristique pellentesque vel, commodo non tellus. Curabitur in erat nibh. Quisque tristique ex nec mauris dictum sagittis. Nunc justo sem, sodales a odio at, sollicitudin pretium metus. Ut vehicula nisi eget elit tempus egestas. Nulla posuere, enim in hendrerit eleifend, elit quam ornare turpis, dignissim elementum massa ante quis risus. Donec interdum egestas dui, vitae scelerisque nisi molestie non. Phasellus pellentesque, mauris quis feugiat tempus, lorem ante consectetur magna, at accumsan ante lorem eget libero. Aliquam eget pellentesque purus. Sed gravida enim nisl, non interdum nisl congue et. Nullam interdum consectetur libero id vestibulum. Mauris pharetra sollicitudin tristique.
      .page-content-section
        %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        %ul
          %li
            %strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent ac convallis metus, non molestie arcu. Donec luctus vestibulum ex in fringilla. Maecenas et aliquam neque.
          %li
            %strong Vivamus est metus, ullamcorper tristique pellentesque vel, commodo non tellus.
            Curabitur in erat nibh. Quisque tristique ex nec mauris dictum sagittis. Nunc justo sem, sodales a odio at, sollicitudin pretium metus. Ut vehicula nisi eget elit tempus egestas.
          %li
            %strong Nullam interdum consectetur libero id vestibulum.
            Curabitur in erat nibh. Quisque tristique ex nec mauris dictum sagittis. Nunc justo sem, sodales a odio at, sollicitudin pretium metus.
      - 3.times do
        .page-content-section
          %h2 Phasellus pellentesque, mauris quis feugiat tempus
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac convallis metus, non molestie arcu. Donec luctus vestibulum ex in fringilla. Maecenas et aliquam neque. Etiam feugiat risus eu facilisis rutrum. Cras cursus augue urna, ac tempus elit venenatis eget. Fusce malesuada nibh libero, in ullamcorper augue bibendum ac.
          %p Vivamus est metus, ullamcorper tristique pellentesque vel, commodo non tellus. Curabitur in erat nibh. Quisque tristique ex nec mauris dictum sagittis. Nunc justo sem, sodales a odio at, sollicitudin pretium metus. Ut vehicula nisi eget elit tempus egestas. Nulla posuere, enim in hendrerit eleifend, elit quam ornare turpis, dignissim elementum massa ante quis risus. Donec interdum egestas dui, vitae scelerisque nisi molestie non. Phasellus pellentesque, mauris quis feugiat tempus, lorem ante consectetur magna, at accumsan ante lorem eget libero. Aliquam eget pellentesque purus. Sed gravida enim nisl, non interdum nisl congue et. Nullam interdum consectetur libero id vestibulum. Mauris pharetra sollicitudin tristique.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac convallis metus, non molestie arcu. Donec luctus vestibulum ex in fringilla. Maecenas et aliquam neque. Etiam feugiat risus eu facilisis rutrum.
    = render('app/partials/_footer.haml')
    = render('app/partials/_scripts.haml')
