.contact-container {
  padding: 80px 130px 160px 130px;

  @include respond-to(xs) {
    padding: 50px 20px;
  }
  
  @include respond-to(sm) {
    padding: 50px 20px;
  }

  @include respond-to(md) {
    padding: 80px;
  }

  @include respond-to(lg) {
    padding: 80px 90px;
  }
}

.contact-grid {
  $gap: 48px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - #{$gap / 2}));
  gap: 0 #{$gap};

  @include respond-to(xs) {
    grid-template-columns: 100%;
    gap: #{$gap / 2} 0;
  }
  
  @include respond-to(sm) {
    grid-template-columns: 100%;
    gap: #{$gap / 2} 0;
  }

  @include respond-to(md) {
    grid-template-columns: 100%;
    gap: #{$gap / 2} 0;
  }
}

.contact-form {
  padding: 48px 24px;
}

.contact-map {
  iframe {
    @include size(100%);

    @include respond-to(md) {
      height: 300px;
    }
  }
}

.contact-info {
  border-top: 2.2px solid $secondary;
  margin-top: 40px;
  padding-top: 40px;

  ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;

    @include respond-to(xs) {
      flex-direction: column;
    }
    
    @include respond-to(sm) {
      flex-direction: column;
    }

    @include respond-to(md) {
      flex-wrap: wrap;
    }

    @include respond-to(lg) {
      flex-wrap: wrap;
    }

    li {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      color: $textColor;

      @include respond-to(xs) {
        margin-bottom: 15px;
        font-size: $textMobileSize;
      }
      
      @include respond-to(sm) {
        margin-bottom: 15px;
        font-size: $textMobileSize;
      }

      @include respond-to(md) {
        width: 50%;
        margin-bottom: 20px;
      }

      @include respond-to(lg) {
        width: 50%;
        margin-bottom: 20px;
      }

      &:last-child {
        padding-right: 50px;
      }

      a {
        color: $textColor;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      span {
        color: $secondary;
        font-weight: 700;
        font-size: 24px;

        @include respond-to(xs) {
          font-size: 20px;
        }
        
        @include respond-to(sm) {
          font-size: 20px;
        }
      }
    }
  }
}
