.product {
  .load-more-services {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      color: $primary;
      font-size: $textSize;
      font-weight: 500;
      margin-bottom: 12px;
    }

    svg {
      font-size: 16px;
    }
  }

  .btn-custom {
    background-color: $primary;
  }

  &.green {
    .product-detail h1 {
      color: $green;
    }

    .btn-custom {
      background-color: $green;
    }

    .load-more-services {
      span {
        color: $green;
      }

      svg > g > g {
        stroke: $green;
      }
    }
  }

  &.orange {
    .product-detail h1 {
      color: $orange;
    }

    .btn-custom {
      background-color: $orange;
    }

    .load-more-services {
      span {
        color: $orange;
      }

      svg > g > g {
        stroke: $orange;
      }
    }
  }

  .gallery-modal .modal-dialog {
    max-width: 85vw;

    @include respond-to(xs) {
      max-width: 100%;
    }

    @include respond-to(sm) {
      max-width: 100%;
    }

    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
    }

    .product-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      @include respond-to(xs) {
        grid-template-columns: 1fr;
        gap: 10px 0;
      }

      @include respond-to(sm) {
        grid-template-columns: 1fr;
        gap: 10px 0;
      }

      @include respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;

        @include respond-to(xs) {
          height: unset;
        }
  
        @include respond-to(sm) {
          height: unset;
        }
      }
    }
  }
}

.product-images {
  padding: 88px 0 27px 0;
  position: relative;

  @include respond-to(xs) {
    padding: 20px 0 0 0;
  }

  @include respond-to(sm) {
    padding: 20px 0 0 0;
  }

  @include respond-to(md) {
    padding: 88px 0 30px 0;
  }

  .btn-custom {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    right: calc(20% + 48px);
    height: 40px;
    padding: 8px;
    border-radius: 6px;
    width: 195px;
    opacity: 0.85;

    @include respond-to(xs) {
      bottom: -40px;
      height: auto;
      font-size: 15px;
      transform: translateX(50%);
      right: 50%;
      width: 100%;
      border-radius: 0;
    }

    @include respond-to(sm) {
      bottom: -40px;
      height: auto;
      font-size: 15px;
      transform: translateX(50%);
      right: 50%;
      width: 100%;
      border-radius: 0;
    }
  }
}

.product-images-slider {
  .product-image-item {
    margin: 0 12px;

    @include respond-to(xs) {
      margin: 0 3px;
    }
  
    @include respond-to(sm) {
      margin: 0 3px;
    }

    img {
      @include size(100%, 576px);
      object-fit: cover;

      @include respond-to(xs) {
        height: 200px;
      }
    
      @include respond-to(sm) {
        height: 200px;
      }

      @include respond-to(md) {
        height: 400px;
      }
    }
  }

  .slick-slide {
    opacity: 0.65;
    position: relative;

    &::before {
      @include pseudo();
      background-color: rgba($black, 0.3);
      left: 0;
      @include size(100%);
    }

    &:active, &:focus {
      outline: none;
    }

    &.slick-current {
      opacity: 1;
    }
  }
    

  .slick-list {
    padding: 0 20%;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next,
  .slick-prev {
    @include size(64px, 160px);
    z-index: 1;

    @include respond-to(xs) {
      @include size(30px, 75px);
    }
  
    @include respond-to(sm) {
      @include size(30px, 75px);
    }

    &::before {
      content: "";
    }
  }
}

.product-detail {
  padding: 50px 120px;

  @include respond-to(xs) {
    padding: 70px 20px 50px 20px;
  }

  @include respond-to(sm) {
    padding: 70px 20px 50px 20px;
  }

  @include respond-to(md) {
    padding: 50px 80px;
  }

  @include respond-to(lg) {
    padding: 50px 80px;
  }

  h1 {
    text-align: center;
    color: $primary;
    font-family: $titleDecorative;
    font-size: 60px;
    line-height: 45px;

    @include respond-to(xs) {
      font-size: 35px;
    }
  
    @include respond-to(sm) {
      font-size: 35px;
    }

    span {
      color: $secondary;
      font-family: $text;
      font-size: 24px;
      font-weight: 500;

      @include respond-to(xs) {
        font-size: 20px;
      }
    
      @include respond-to(sm) {
        font-size: 20px;
      }
    }
  }
}

.product-description {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 25px));
  gap: 0 50px;
  margin-top: 75px;

  @include respond-to(xs) {
    grid-template-columns: 100%;
    gap: 25px 0;
    margin-top: 25px;
  }

  @include respond-to(sm) {
    grid-template-columns: 100%;
    gap: 25px 0;
    margin-top: 25px;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  p {
    font-size: $textSize;
    font-weight: 400;
    color: $textColor;
    line-height: 26px;

    strong {
      font-weight: 600;
    }

    @include respond-to(xs) {
      font-size: $textMobileSize;
    }

    @include respond-to(sm) {
      font-size: $textMobileSize;
    }

    @include respond-to(md) {
      font-size: $textTabletSize;
    }
  }
}

.product-features {
  $gap: 40px;
  padding: 40px 130px;
  display: grid;
  grid-template-columns: calc(62% - #{$gap / 2}) calc(38% - #{$gap / 2});
  gap: 0 #{$gap};

  @include respond-to(xs) {
    padding: 40px 20px;
    grid-template-columns: 100%;
    gap: 25px 0;
  }

  @include respond-to(sm) {
    padding: 40px 20px;
    grid-template-columns: 100%;
    gap: 25px 0;
  }

  @include respond-to(md) {
    grid-template-columns: 100%;
    gap: 25px 0;
    padding: 40px 80px;
  }

  @include respond-to(lg) {
    grid-template-columns: calc(55% - #{$gap / 2}) calc(45% - #{$gap / 2});
    padding: 40px 80px;
  }

  &-list {
    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $black;
      font-size: $textSize;
      letter-spacing: 1.33px;
      margin-bottom: 60px;
      line-height: 23px;

      @include respond-to(xs) {
        font-size: $textMobileSize;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      @include respond-to(sm) {
        font-size: $textMobileSize;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      @include respond-to(md) {
        font-size: $textTabletSize;
      }
      
      @include respond-to(lg) {
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        strong {
          font-weight: 600;
        }
      }

      img {
        @include size(85px);
        object-fit: contain;
        margin-right: 60px;

        @include respond-to(xs) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      
        @include respond-to(sm) {
          margin-right: 0;
          margin-bottom: 20px;
        }

        @include respond-to(lg) {
          margin-right: 30px;
        }
      }
    }
  }
}

.product-check-card {
  padding: 32px;
  box-shadow: $shadow;
  background-color: $white;

  @include respond-to(xs) {
    padding: 32px 20px;
  }

  @include respond-to(sm) {
    padding: 32px 20px;
  }

  .price {
    font-size: 24px;
    font-weight: bold;
    color: $textColor;
    margin-bottom: 20px;

    span {
      font-weight: 400;
    }
  }

  .btn-custom {
    width: 100%;
    color: $white;
    height: 56px;
  }

  input,
  select {
    background-color: #f4f4f4;
    color: #a8a8a8;
    font-size: 16px;
    border: none;
    border-radius: 0;
    padding: 12px;
    margin: 12px 0;

    &::placeholder {
      color: #a8a8a8;
      font-size: 16px;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }

    &:focus {
      background-color: #f4f4f4;
    }
  }

  .input-group {
    margin: 12px 0;

    input {
      margin: 0;
    }
  }

  .input-group-text {
    background-color: #f4f4f4;
    border: 0;

    img {
      @include size(20px);
    }
  }

  input[type="date"] {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}

.book-prices {
  padding: 24px 0;

  dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  dt {
    color: $textColor;
    font-weight: 400;
    font-size: $textSize;
    position: relative;
    width: auto;

    &::before {
      @include pseudo();
      width: 100%;
      height: 1px;
      background-color: $textColor;
      left: 0;
      bottom: 3px;
    }

    @include respond-to(xs) {
      font-size: $textMobileSize;
    }

    @include respond-to(sm) {
      font-size: $textMobileSize;
    }

    @include respond-to(md) {
      font-size: $textTabletSize;
    }
  }

  dd {
    color: $textColor;
    font-weight: 400;
    font-size: $textSize;
    width: auto;

    @include respond-to(xs) {
      font-size: $textMobileSize;
    }

    @include respond-to(sm) {
      font-size: $textMobileSize;
    }

    @include respond-to(md) {
      font-size: $textTabletSize;
    }
  }
}

.book-total {
  padding-top: 24px;
  border-top: 1px solid $textColor;

  dt,
  dd {
    font-size: $textSize;
    font-weight: 600;

    @include respond-to(xs) {
      font-size: $textMobileSize;
    }

    @include respond-to(sm) {
      font-size: $textMobileSize;
    }

    @include respond-to(md) {
      font-size: $textTabletSize;
    }
  }
}

.product-features-list,
.product-services {
  h5 {
    font-family: $title;
    font-weight: 700;
    font-size: 28px;
    color: $secondary;
    margin-bottom: 50px;
  }
}

.product-services {
  margin-top: 80px;
}

.product-services-grid {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
}

.product-service-item {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    @include size(86px, 62px);
    object-fit: contain;
    margin-bottom: 16px;

    @include respond-to(lg) {
      @include size(80px, 55px);
    }
  }

  span {
    text-align: center;
    color: $secondary;
    font-weight: 600;
    font-size: $textSize;

    @include respond-to(xs) {
      font-size: $textMobileSize;
    }

    @include respond-to(sm) {
      font-size: $textMobileSize;
    }

    @include respond-to(md) {
      font-size: $textTabletSize;
    }

    @include respond-to(lg) {
      font-size: 18px;
    }
  }
}

.villa-related {
  padding: 40px 130px 80px 130px;
  
  @include respond-to(xs) {
    padding: 40px 20px 60px 20px;
  }

  @include respond-to(sm) {
    padding: 40px 20px 60px 20px;
  }
  
  @include respond-to(md) {
    padding: 40px 80px 80px 80px;
  }
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px));
  gap: 20px 15px;

  @include respond-to(xs) {
    grid-template-columns: 100%;
    gap: 20px 0;
  }

  @include respond-to(sm) {
    grid-template-columns: 100%;
    gap: 20px 0;
  }

  @include respond-to(md) {
    grid-template-columns: repeat(3, calc(33.333% - 15px));;
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(3, calc(33.333% - 15px));;
  }

  .related-item {
    box-shadow: $shadow;

    img {
      width: 100%;
    }

    &-text {
      padding: 32px;
      text-align: center;

      h4 {
        color: $secondary;
        font-weight: 700;
        font-size: $textSize;
        margin-bottom: 32px;

        @include respond-to(xs) {
          font-size: $textMobileSize;
        }
  
        @include respond-to(sm) {
          font-size: $textMobileSize;
        }

        @include respond-to(md) {
          font-size: $textTabletSize;
        }
      }
    }

    .related-km {
      @include flexcenter();

      img {
        @include size(20px);
        object-fit: contain;
        margin-left: 5px;
      }
    }
  }
}

.wrap-modal-slider {
  opacity: 0;
  transition: all .3s;

  &.open {
    opacity: 1;
    transition: all .3s;
  }
}